<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questioner | User | Meetups</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/user/meetups.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/responsive.css">

</head>

<body>
    <div id="loader-overlay">
        <div class="loader"></div>
    </div>
    <header class="header">
            <h1 class="header-logo"> <span class="q">Q</span><span class="uestioner">UESTIONER</span> </h2>
              
                <div class="profile"> <a href="#"><img id="dropdown" src="../img/coming (2).jpeg" alt="">Seyi</a> 
                  <br>  <span class="time" id="currentTime"></span>
                </div>
                
                <div class="dropdown"  id="dropdownNav">
                    <ul>
                        <li> <a href="../user/profile.html">Profile</a> </li>
                        <li> <a href="../user/reset-password.html">Setting</a> </li>
                        <li> <a href="../login.html">Logout</a> </li>
                    </ul>
                </div>
    
        </header>
    


    <section class="container">
        <div class="body-wrapper">

            <div id="alert">
                Welcome, User
            </div>
            <div class="container-page">

                <div class="topic-list-header">MEETUPS</div>
                <table class="meetup-list">
                    <tr class=" topic-list-content--title" style="border-left: solid 3px #DF3C3C" >
                        <td><img src="../img/coming (3)1.jpeg" class="question-img" style="height:90px" alt=""></td>
                        <td>
                               
                            <div class="list">
                               
                                <p>
                                    <a href="../user/meetup.html" class="question-header">END OF YEAR UNITY 3D GAME DEVELOPERS MEETUP</a>
                                </p>
                                <p class="posted-by">0n
                                    Sun Jul 22, 2018 3:28 am, @ The Ikeja, Lagos </p>
                              
                            </div>

                        </td>
                        <td>
                            <div class="question-stat"><strong>42</strong><br />Question</div>
                        </td>
                        <td>
                            <div class="question-stat"><strong>133</strong><br /> Attendees</div>
                        </td>



                    </tr>
                    

                </table>


            </div>
            <aside class="aside">
                <div class="aside-header">
                    Upcoming Meetups</div>
                <div class="aside-body">
                    <div class="aside-content upcoming-meetup">
                        <p><a href="./meetups-stats.html"> Today: <span> 0</span></a></p>
                        <p><a href="./meetups-stats.html"> This Week:<span> 23</span></a></p>
                        <p><a href="./meetups-stats.html"> This Month:<span> 123</span></a></p>
                    </div>
                    <div class="aside-header"> Your Stats
                    </div>
                    <div class="aside-body">
                        <div class="aside-content">

                            <p class="stats-list"><a href="#">Question Posted: <span>10</span> </a> </p>
                            <p class="stats-list"><a href=""> Question Commented On:<span> 23</span> </a></p>
                            <p class="stats-list"><a href="#"> Total Upvote:P <span>123 </span> </a></p>
                            <p class="stats-list"><a href="#">Total Downvote: <span>34 </span> </a> </p>

                        </div>
                    </div>







                </div>

                <div class="aside-header">
                    ADVERTS</div>
                <div class="aside-body">
                    <img src="https://i.imgur.com/XaKeYJE.png" alt="advert">
                </div>


            </aside>
        </div>
    </section>
    <footer class="footer">
        copyright @ Adebajo Oluwaseyi | Andela 2018
    </footer>
    <script src="../js/general.js"></script>
</body>