<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questioner | User | Login</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/user/meetup.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" href="../css/responsive.css">
</head>

<body>
    <div id="loader-overlay">
        <div class="loader"></div>
    </div>

    <header class="header">
            <h1 class="header-logo"> <span class="q">Q</span><span class="uestioner">UESTIONER</span> </h2>
              
                <div class="profile"> <a href="#"><img id="dropdown" src="../img/coming (2).jpeg" alt="">Seyi</a> 
                  <br>  <span class="time" id="currentTime"></span>
                </div>
                
                <div class="dropdown"  id="dropdownNav">
                    <ul>
                        <li> <a href="../user/profile.html">Profile</a> </li>
                        <li> <a href="../user/reset-password.html">Setting</a> </li>
                        <li> <a href="../login.html">Logout</a> </li>
                    </ul>
                </div>
    
        </header>


    <section class="container">
        <div class="body-wrapper">

            

            <div class="container-page">
                <div class="topic-list-header">MEETUP</div>
                <div class="meetup-list">
                    <div >
                        <div class="meetup-detail">

                            <h1>END OF YEAR UNITY 3D GAME DEVELOPERS MEETUP</h1>
                            <p>Date: Thursday, December 21, 2018 </p>
                            <p>Host: <span>Paul Adefarasin</span></p>
                            <p>Address: <span>2 Metal Box Road, Off Acme Road, Ogba, Ikeja · Lagos</span></p>
                        </div>
                                            </div><br>


                    <div class="meetup-banner"> <img src="../img/unity3d.jpeg" alt="">
                    </div>
                    <div class="details">
                        <h3>Details</h3>
                        <div>

                            You are all invited to the end of year unity 3d game developers meetup.

                            The order of the programme is as follows:
                            <ol>
                                <li> Discussions on unity and unity technologies</li>
                                <li>Panel session with game developers</li>
                                <li>Game developer trainings/events</li>
                                <li>Gaming competitions</li>
                            </ol>

                            <br>

                            Studios/Companies invited to exhibit and make the event fun include:

                            Imisi3D
                            Blackring Studios
                            Deluxe Creation Studios
                            The Creatus

                            Program is set to run between 10:00am - 5:00pm


                        </div>
                    </div>
                    <hr>
                    <h3 class="details">Interested People (12)</h3>
                    <section class="attendees">

                        <div class="attend-block">
                            <img class="attendees" src="../img/coming(1).jpeg" alt="">
                            <p>Oluwaseyi</p>
                        </div>
                        <div class="attend-block">
                            <img class="attendees" src="../img/coming (2).jpeg" alt="">
                            <p>Christian</p>
                        </div>
                        <div class="attend-block">
                            <img class="attendees" src="../img/coming (4).jpeg" alt="">
                            <p>Kemi</p>
                        </div>
                        <div class="attend-block">
                            <img class="attendees" src="../img/coming(4).jpg" alt="">
                            <p>Valetyy</p>
                        </div>
                        <div class="attend-block">
                            <span>
                                <h4>Click to Add <br> Yourself</h4>
                            </span>

                        </div>

                    </section>
                    <hr>

                    <div class="discussion">
                        <h3 class="details">Discussion</h3>
                        <button class="submitButton" id="askQuestionButton">ASK QUESTION</button>

                        <form action="#" id="postQuestionForm">
                            <textarea contenteditable="true" name="post-question" placeholder="Your Question Here" id="post-question"
                                class="quesstion-textarea"></textarea>
                            <br><button class="submitButton">Submit</button>
                        </form>
                        <div class="QCDiv">

                            <div class="questionDiv"><span>Question by<a href="#"> Adebajo Oluwaseyi </a>on July 4,
                                    2018</span>
                                <br> Not sure if Digital Ocean will prefer me to say this here, but we go through
                                Cloudways
                                to have Digital Ocean instances for web hosting. I can't say enough good things about
                                this
                                setup! DO's performance will blow your doors off compared to typical shared hosting or
                                slow
                                VPS plans. And Cloudways' server config makes management secure and easy. Pricing is
                                gooddd
                                too. Especially compared to AWS and GCE which are crazy high.
                                <p><a href="#">Comment(3)</a> | <a href="#">Upvote (21)</a> | <a href="#">Downvote (3)</a></p>
                            </div>

                            <div class="commentDiv"><span>Comment by <a href="#">Emmnuel Tega</a> on July 5, 2018</span>
                                <br>
                                good things about this
                                setup! DO's performance will blow your doors off compared to typical shared hosting or
                                slow
                                VPS plans. And Cloudways' server config makes management secure and easy. Pricing is
                                good
                            </div>
                            <div class="commentDiv"><span>Comment by <a href="#">Olaiyiwola Ojo</a> on July 7, 2018</span>
                                <br>
                                good things about this
                                setup! DO's performance will blow your doors off compared to typical shared hosting or
                                slow
                                VPS plans. And Cloudways' server config makes management secure and easy. Pricing is
                                good
                            </div>
                            <div class="commentDiv"><span>Comment by <a href="#">Blessing Emeka </a> on July 8, 2018</span>
                                <br>
                                good things about this
                                setup! DO's performance will blow your doors off compared to typical shared hosting or
                                slow
                                VPS plans. And Cloudways' server config makes management secure and easy. Pricing is
                                good
                            </div>
                           
                            <textarea name="post-comment-textarea" class="post-comment-textarea" placeholder="Comment on  Adebajo Oluwaseyi's  Question"></textarea>
                        </div>

                        <div class="QCDiv">

                            <div class="questionDiv"><span>Question by<a href="#"> Emeka Onyeneke </a>on July 2, 2018</span>
                                <br> Not sure if Digital Ocean will prefer me to say this here, but we go through
                                Cloudways
                                to have Digital Ocean instances for web hosting. I can't say enough good things about
                                this
                                setup! DO's performance will blow your doors off compared to typical shared hosting or
                                slow
                                VPS plans. And Cloudways' server config makes management secure and easy. Pricing is
                                good
                                too. Especially compared to AWS and GCE which are crazy high.
                                <p><a href="#">Comment(0)</a> | <a href="#">Upvote (3)</a> | <a href="#">Downvote (1)</a></p>
                            </div>

                            <textarea name="post-comment-textarea" class="post-comment-textarea" placeholder="Comment on Onyeneke Emeka Question"></textarea> 
                        </div>

                    </div>
                </div>


            </div>





        </div>
        <aside class="aside">
            <div class="aside-header">
                Upcoming Meetup</div>
            <div class="aside-body">
                <div class="aside-content upcoming-meetup">
                    <p><a href="./meetups-stats.html"> Today: <span> 0</span></a></p>
                    <p><a href="./meetups-stats.html"> This Week:<span> 23</span></a></p>
                    <p><a href="./meetups-stats.html"> This Month:<span> 123</span></a></p>
                </div>
                <div class="aside-header"> Your Stats
                </div>
                <div class="aside-body">
                    <div class="aside-content">
                        <p class="stats-list"><a href="#">Total Invitation: <span> 23</span> </a></p>
                        <p class="stats-list"><a href="#">Invitation Confirmed : <span>34 </span> </a></p>
                        <p class="stats-list"><a href="#">Question Posted: <span>10</span> </a> </p>
                        <p class="stats-list"><a href=""> Question Commented On:<span> 23</span> </a></p>
                        <p class="stats-list"><a href="#"> Total Upvote:P <span>123 </span> </a></p>
                        <p class="stats-list"><a href="#">Total Downvote: <span>34 </span> </a> </p>
                    </div>
                </div>







            </div>

            <div class="aside-header">
                ADVERTS</div>
            <div class="aside-body">
                <img src="https://i.imgur.com/XaKeYJE.png" alt="advert">
            </div>


        </aside>
        </div>
    </section>
    <footer class="footer">
        copyright @ Adebajo Oluwaseyi | Andela 2018
    </footer>
    <script src="../js/general.js"></script>
    <script src="../js/user.js"></script>
</body>