.meetup-detail{
    display: inline; 
    line-height: 35px
}

.meetup-detail h1{
    text-transform: capitalize;
    font-size: 22px;
}
.meetup-confirmation{
    float: right; 
    width: 25%;
   
}

.meetup-list{
    padding: 10px 20px
}
.h1,h3{
    color:  #03A9F4;
}

hr{
    border-top: 1px solid #ccc ;
    margin: 20px 20px;
    
}
.attendees{
    
    display: flex;
   
    margin-right: 20px;
}
 img.attendees{
    width: 80px;
    
    border: 1px #ccc solid;
    border-radius: 20px
}

.attend-block{
    margin-left: 20px;
    margin-right: 20px;
}
.attend-block img{
    max-width: 180px;
    min-height: 100px;
}
.attend-block:last-child{
    clear: right
}

.add-yourself{
    border: solid 1px
}

.commentButton{
float: right;
margin: 5px 10px 0 0;
}
.question-title{
    width: 100%;
     margin-top: 15px;
     font-family: monospace;
     padding-left: 20px;
     font-size: 15px;
    }
    .quesstion-textarea{
        width: 100%;
        height: 80px;
        padding: 5px 15px;
        margin-top: 15px;
        border-radius: 12px;
        overflow: auto;
        font-size: 15px;
    

}

.post-comment-textarea{
    width: 80%;
    margin: 5px 20px;
    height: 40px;
    padding: 3px 10px;
    border-radius: 6px;
   
}
.meetup-banner img{
    max-width: 450px;
    max-height: 220px;
    float: left;
    margin-right: 25px;
}

#postQuestionForm{
display: block
}

.questionDiv, .commentDiv{
    background-color: #fafaf1;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 5px;
    border-bottom: 1px #ccc solid;
    font-family:  sans-serif;
    color: #555;
    line-height: 25px;
    padding-top: 7px;
    padding-bottom: 7px
}
.questionDiv p a{
    color: #03A9F4;
    margin: 7px 10px;
    letter-spacing: 1px;
    font-size: 13px;
    font-style: italic
}

.questionDiv span, .commentDiv span{
    font-style: italic;
    font-size: 13px;
    /* color: #666; */
    font-weight: bold;
}
.commentDiv span{
    font-size: 12px
}
.h1{
    margin: 20px 0 10px 0;
}
.questionDiv span a {
    padding-right: 5px
}
.commentDiv{
    background-color: #fff; 
    padding-left: 15px;
    font-size: 13px;
    border-bottom: #ccc solid 1px;
    padding-bottom: 6px

}
.QCDiv{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
}
.commentDiv:first{
    margin-top: 15px;
}

.details ul{
  padding-left: 20px  
}
.details, .discussion {
    margin: 20px ;
    line-height: 30p8
}
.brown{
    color: rgb(87, 87, 87);
    font-size: 17px;
}
.bold{
   font-weight: bold;
   font-size: 16px;
   margin-top: 0px
  

}

.RSVPdiv{
    /* border: 1px solid #03A9F4; */
    padding: 10px;
    border-radius: 5px;
    margin: 10px
}
input.rsvpButton {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radioContainer{
   
        display: relative;
        position: relative;
        padding-left: 35px;
        padding-right: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    
  }
  
  .radioContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .radioContainer input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radioContainer .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }


.margin40{
    padding-top: 40px;
}

.commentDiv a,.questionDiv span a{
    color: #555;
    
}