.login-div{
    /* min-height: 400px; */
    background:#fff;
    width: 40%;
    margin: auto;
    border-radius: 2px;
    
}




label{
	display: inline-block;
	padding: 12px 12px 12px 0;
	min-width: 110px;
	text-align: right;
}
 label.confirmPassword{
     padding-top:0px
 }

.submitButton{
    margin-left: 116px;
    margin-right: 3px
}

.signupForm{
    padding-left: 20px
}



label span{
    color: rgb(214, 51, 51)
}
.footer{
   position: fixed;
    left: 0;
    bottom: 0;
    
}

.terms-div{
   display: none;
    margin: 5px 40px;
    align-content: center;
    font-size: 12px
}
.terms-checked{
    margin: 11px 118px;
    font-size: 12px;   
}
.terms-checked a{
    text-decoration: none
}
.terms-checked a{
    color: #03A9F4
}

.topic-warning{
    font-size:11px;
    padding-left: 25px;
}

.already-a-member{
    margin-left: 120px;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 20px

}

.already-a-member2{
    margin-bottom: 100px
}