.thelogin{
   /* background-color: rgb(223, 60, 60); */
   border: none;
  color: white;
  cursor: pointer;
   padding: 10px 22px;
   text-align: center;
   margin: 0 auto;
   display: inline-block;
   border: 2px solid #fff;
   border-radius: 5px
}
.thelogin:hover{
   border:2px solid #03a9f4;
   color:  #03A9F4;
   background:#fff;
   font-weight: bold;
}



