.login-div{
    /* min-height: 200px; */
        min-height: 200px;
        
        background:#fff;
        width: 75%;
        margin: 0 auto;
        border-radius: 2px;    
}

.new-to-us{
    margin-left: 120px;
    font-size: 13px;
    padding-top: 5px;

}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
}
